@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 0 0% 100%;
	--foreground: 240 10% 4%;
}

.dark {
	--background: 240 10% 4%;
	--foreground: 210 40% 98%;
}

.bg-background { background-color: hsl(var(--background)); }
.text-foreground { color: hsl(var(--foreground)); }
.border-border { border-color: hsl(240 5.9% 90%); }

* { box-sizing: border-box; }



